body {
  background-color: #f1f1f1;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #222222;
  margin: 0;
  padding: 0;
  width: 100%; }

#content {
  width: 100%; }

h1 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase; }

h2 {
  font-size: 18px;
  font-weight: 700; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

header {
  width: 100%;
  padding: 0; }

section {
  padding: 25px 75px;
  display: block;
  box-sizing: border-box; }
  section.col-left-green {
    background: #63d491 none repeat scroll 0% 0%;
    width: 40%;
    float: left;
    color: #fff; }
  section.col-right-grey {
    background: #f1f1f1 none repeat scroll 0% 0%;
    width: 60%;
    float: right;
    color: #333; }

footer {
  clear: both;
  width: 100%;
  font-size: 14px;
  margin: 0; }

footer .copy {
  padding: 25px 75px;
  font-weight: 300;
  font-size: 14px; }

table, th, td {
  border: 1px solid #AFAFAF;
  vertical-align: top;
  font-weight: 400; }

th, td {
  padding: 10px; }

th {
  background-color: #63d491; }

a:link, a:visited {
  color: #63d491;
  text-decoration: none;
  font-weight: 400; }

a:hover, a:active {
  color: #63d491;
  text-decoration: underline;
  font-weight: 400; }

tr.grey {
  background-color: #DFDFDF; }

#logo-area {
  background-color: #333;
  width: 100%;
  color: #fff;
  display: block;
  padding-bottom: 25px; }
  #logo-area .logo {
    padding: 75px 75px 0 75px;
    max-width: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    overflow: visible; }
    #logo-area .logo img {
      width: 100%; }
  #logo-area .copy {
    padding: 25px 75px;
    line-height: 20px; }

.agenda, .agenda th {
  font-size: 14px;
  text-align: left;
  vertical-align: top; }

.fullwidth {
  width: 90%; }

@media (max-width: 1000px) {
  section.col-left-green, section.col-right-grey {
    width: 100%; } }
