$light-grey: #d0d0d0;
$link-green: #63d491;
$lighter-grey: #f1f1f1;
$default-font-color: #222222;


$font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 50px;
$font-weight: 600;

$background-color: $lighter-grey;
