@import "variables";

body {
	background-color: $background-color;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	color: $default-font-color;
	margin: 0;
	padding: 0;
	width: 100%;
}

#content {
	width: 100%;
}

h1 {
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	font-size: 18px;
	font-weight: 700;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

header {
	width: 100%;
	padding: 0;
}

section {
	padding: $box-small-padding $box-padding;
	display: block;
	box-sizing: border-box;

	&.col-left-green {
		background: $link-green none repeat scroll 0% 0%;
		width: 40%;
		float: left;
		color: #fff;
	}

	&.col-right-grey {
		background: $background-color none repeat scroll 0% 0%;
		width: 60%;
		float: right;
		color: #333;
	}
}

footer {
	clear: both;
	width: 100%;
	font-size: 14px;
	margin: 0;
}

footer .copy {
	padding: 25px $box-padding;
	font-weight: 300;
	font-size: 14px;
}

table, th, td {
	border: 1px solid #AFAFAF;
	vertical-align: top;
	font-weight: 400;
}

th, td {
	padding: 10px;
}

th {
	background-color: $link-green;
}

a:link, a:visited {
	color: $link-green;
	text-decoration: none;
	font-weight: 400;
}

a:hover, a:active {
	color: $link-green;
	text-decoration: underline;
	font-weight: 400;
}
tr.grey {
	background-color: #DFDFDF;
}

#logo-area {
	background-color: #333;
	width: 100%;
	color: #fff;
	display: block;
	padding-bottom: 25px;

	.logo {
		padding: $box-padding $box-padding 0 $box-padding;
		max-width: 500px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: auto;
		overflow: visible;

		img {
			width: 100%;
		}
	}

	.copy {
		padding: $box-small-padding $box-padding;
		line-height: 20px;
	}
}

.agenda, .agenda th {
	font-size:14px;
	text-align:left;
	vertical-align: top;
}

@media (max-width:1000px) {
	section {
		&.col-left-green, &.col-right-grey {
			width: 100%;
		}
	}
}

